<div>
  <div class="flex-center sidebar-logo-container">
    <img src="../../../assets/images/adversus_logo.png" class="sidebar-logo">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/009-phone.png" class="flipped">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/008-calendar.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/007-paper.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/006-pail.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/005-repair-kit.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/004-mic.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/003-gear.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/002-idea.png">
  </div>
  <div class="flex-center sidebar-item">
    <img src="../../../assets/images/sidebar-icons/001-user.png">
  </div>

</div>
